<div ng-app="torvals" class="login margin-main-section">
	<div flex="" layout="row" layout-align="center center">
		<div flex-sm="80" flex-md="60" flex-lg="30" class="md-whiteframe-z2">
			<form name="loginForm" ng-submit="login.signin()">
				<md-content class="md-padding login-content">
					<md-input-container class="md-block">
						<label>Email</label>
						<ng-md-icon icon="person" style="fill: #ffc107" size="32"></ng-md-icon>
						<input ng-model="login.user.email" type="email" name="email" ng-required="true" required>

						<div ng-messages="loginForm.email.$error">
							<div ng-message="required" class="login-error-align">
								Escriba su email.
							</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Password</label>
						<ng-md-icon icon="lock" style="fill: #ffc107" size="32"></ng-md-icon>
						<input ng-model="login.user.password" type="password" name="password" ng-required="true" required>

						<div ng-messages="loginForm.password.$error">
							<div ng-message="required" class="login-error-align">
								Escriba su contraseña.
							</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block">
						<div ng-show="login.error">
							El emial o contraseña son incorrectas.
						</div></md-input-container>
					<md-input-container class="md-block text-center">
						<md-button type="submit" class="md-raised md-primary btn-md">Entrar</md-button>
					</md-input-container>
				</md-content>
			</form>
		</div>
	</div>
</div>
