html {
  background-color: #ededed;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.tick {
  line {
    stroke: rgba(0, 0, 0, 0.3);
  }
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.form-group > fieldset {
  border: 0;
}

.single-form {
  max-width: 400px;
  margin: 100px auto;
}

html, body {
    height: 100%;
}

.c-fixed {
  position: fixed;
}

.c-topbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.c-topbar__aside {
  width: 250px;
  display: block;
  flex: 0 0 auto;
  box-sizing: inherit;
  background-color: #000000;
}

.c-topbar__main {
  flex: 1 1 0%;
  max-width: 100%;
}


.main {
  flex: 1 1 0%;
  max-width: 100%;
}

.full-height {
  min-height: 100%;
}

.full-viewport-height {
  min-height: 100vh;
}

.is-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
}

.is-flex-column {
  flex-direction: column;
}

.c-stack {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.is-relative {
  position: relative
}

.searchbox {
  position: absolute;
  top: 20px;
  right: 0px;
  padding: 0px;
  background-color: #5d5d5d;
  color: white;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  text-align: center;
  width: 40px;
}

.side-filters {
  width: 250px;
  background-color: #cccccc;
}

.panel-body {
  padding: 1.5em;
}

.is-fullwidth {
  width: 100%;
}

.is-justify-center{
  justify-content: center;
}

.is-justify-center {
  justify-content: center;
}

.is-align-center {
  align-items: center;
}

footer {
  padding: 20px;
  width: 100%;
}

footer.footer {
    padding:1rem 1.5rem 2rem;
}

.c-content {
    min-height: calc(100% - 52px);
}

.c-flex-1 {
    flex: 1;
}

.is-rounded {
  border-radius: 50%;
}

.is-align-center {
  align-items: center;
}

.is-bg-white {
  background-color: white;
}

.is-paddingless-top {
  padding-top: 0px;
}

.is-padding-top-small {
  padding-top: 0.5em;
}
.is-padding-bottom-small {
  padding-bottom: 0.5em;
}

.card-header-select {
  padding: .30em
}

.card-header-select.select:not(.is-multiple)::after {
  margin-top: -.130em
}

.multiselect-column {
  height: 15em;
  max-height: 70%;
  overflow-y: auto;
  border: 1px solid;
  border-color: #dbdbdb;
  border-radius: 3px;
}

.multiselect-icon {
  padding-top: 7.8em;
}

select.placeholder {
  color: gray;
}

.is-pulled-right-by-margin {
  margin-left: auto
}

pre.json {
  display: block;
  padding: 1em;
  margin: 0;
}
.request-log {
  margin-bottom: 0.5rem !important;

  .message-header {
    cursor: pointer;
  }
}
.show-log { display: block; }
.hide-log { display: none; }
.is-clickable { cursor: pointer }

.is-not-shown { visibility: hidden }
.is-white { background-color: white }
.is-transparent { background-color: transparent }
.is-absolute { position: absolute }

.Sticky {
  &.sticky {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    margin: 0;
    padding: 0px 24px;
    z-index: 99;
  }
}

.is-datepicker-fullwidth {
   > div {
    width: 100%;
    .react-datepicker-wrapper {
      width: 100%;
      > div {
        width: 100%;
      }
    }
  }
}
.react-datepicker-popper {
  z-index: 4;
}


@media only screen and (min-width: 1024px) {
  .Sticky {
    &.sticky {
      padding-left: 274px
    }
  }
}

.avatar {
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.is-edited {
  background-color: lighten($primary,42%) !important;
  color: #363636;
}

.was-edited {
  background-color: #9cbcbf !important;
  color: #363636;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 10;
  right: 1%;
  z-index: 100;
  width: 500px;
  padding: 10px 10px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grey-hover:hover{
  background-color: rgba(237, 237, 237, 0.849) !important;
}

.r-pad{
  margin-right: 10px !important;
}


.land-side{
  position: relative !important;
  background-color: rgba(92,138,169,1) !important;
  .down{
    position: absolute !important;
    bottom: 120px !important;
  }
  img{
    padding: 0px 40px !important;
    margin-bottom: -10px !important;
  }
}
.land-content{
  margin: auto !important;
  max-width: 800px !important;
}
.is-bg-whitesmoke{
  background-color: whitesmoke !important;
}

.has-text-color{
  color: $abraxas-color !important;
}

.icon-land{
  height: 7rem !important;
  width: 7rem !important;
  background: #28d2eb !important;
  border-radius: 100px !important;
  margin: 30px 20px 0px !important;
}
.card-land{
  height: 295px !important;
}
.pad-bottom{
  padding-bottom: 20px !important;
}

.land-login{
  width: 800px !important;
  background-color: rgba(48, 90, 122, 0.7);
  overflow: hidden !important;
  text-align: center !important;
  padding: 40px !important;

  .input{
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
    border-bottom: 1px solid whitesmoke !important;
  }
  .input:focus{
    border: 0px !important;
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }

  .label{
    text-align: left !important;
    color: white !important;
  }
}

@media screen and (max-width: 1023px){
  .navbar-menu{
    box-shadow: none !important;
  }
}

.has-bg-color{
  background-color: $abraxas-color !important;
  color: white !important;
}

.has-bg-hover:hover{
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidepanel{
  position: absolute;
  top: 65px;
  right: 0px;
  padding: 0px;
  background-color: #5d5d5d;
  color: white;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  text-align: center;
  width: 40px;
}

.z100{
  z-index: 100 !important;
}

.pad-sides{
  padding: 0 3em !important;
}


.dark-card{
  background-color: #3d495a !important ;
  color: white !important;
  .card-header{
    color: white !important;
  }
  .card-header-title{
    color: white !important;
  }
  .panel-block{
    color: white !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    .input{
      color: white !important;
      background-color: rgba(0, 0, 0, 0.15) !important;
      border: 0px !important;
      border-bottom: 1px solid whitesmoke !important;
    }
    .input:focus{
      border: 0px !important;
      border-bottom: 2px solid white !important;
      box-shadow: none !important;
    }

    .label{
      text-align: left !important;
      color: #b4becc !important;
    }

    .select select {
      background-color: rgba(0, 0, 0, 0.15) !important;
      border-color: rgba(0, 0, 0, 0.15) !important;
      color: white !important;
    }

    .select option{
      background-color: rgb(55, 65, 80) !important;
      border-color: rgb(55, 65, 80) !important;
      color: white !important;
    }

    .textarea{
      color: white !important;
      background-color: rgba(0, 0, 0, 0.15) !important;
      border: 0px !important;
      border-bottom: 1px solid whitesmoke !important;
    }
  }
}

.historical-container{
  display: flex;
  justify-content: center;
}
.historical tbody{
  font-size: 12px
}

.font-blue{
  color: #01579B;
}
.font-orange{
  color: #FF9800;
}
.font-green{
  color: #8BC34A;
}
td, th, tr{
  vertical-align: middle !important;
  height: 70px !important;
}
.is-invisible{
  visibility: hidden !important;
}