.level:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indicators {
  background-color: #EFF1F9;
  padding: 0.3rem;
  box-sizing: border-box;
  height: 50px;
  max-height: 50px;
  h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  img {
    height: 30px;
    width: auto;
    margin-right: 3rem;
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }
  .num {
    font-size: 1.15rem;
  }
  p {
    font-size: 0.85rem;
  }
  .level-item:not(:first-child) {
    border-left-color: rgb(220, 225, 248);
    border-left-style: solid;
    height: 100%;
    border-left-width: 1px;
    position: relative;
  }
  .collapse-btn {
    position: absolute;
    top: -5px;
    right: 0;
    width: 65px;
    height: 50px;
    background-color: $info;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .level-item {
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }
}

.disapear {
  opacity: 0 !important;
}

.no-border {
  border: none !important;
}

.indicators-show {
  max-height: 400px;
}

.indicators-hide {
  max-height: 0;
}

.indicators-collapse {
  background-color: #F9FAFF;
  overflow: hidden;
  transition: max-height 0.8s ease;
  margin-top: -.36rem;
}

.modifier {
  .field .is-grouped .control {
    margin-right: 0.5rem;
  }
}

.period-info {
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 0.8rem;
}

.download-btn {
  position: relative;
  .button {
    position: absolute;
    right: 1rem;
    top: 41%;
    height: 2.1rem;
    width: 3.2rem;
    font-size: 1.2rem;
    background-color: $general_text !important;
    .icon {
      height: 1.2em;
    }
  }
}

.sales {
  &-table,
  &-graph {
    margin: 0.5rem;
    background-color: #FFF;
    border-color: #E6E8F6;
    height: 100%;
    max-height: 280px;
    min-height: 265px;
    .panel-heading {
      h2 {
        font-size: 0.9rem;
        font-weight: 700;
      }
      background-color: #EFF1F9;
      border-color: #E6E8F6;
    }
    .panel-block {
      border-color: #E6E8F6;
      height: 83%;
      min-height: 247px;
    }
  }
  &-table {
    td,
    th {
      font-size: 0.87rem;
    }
    .table thead td,
    .table thead th {
      border-color: #E6E8F6;
      border-width: 0 0 1px;
    }
    td {
      border-width: 0 1px 0 0;
      border-color: #E6E8F6;
    }
    tr>td:last-of-type {
      border-width: 0;
    }
    .table {
      margin-bottom: 0;
      border-color: #E6E8F6;
    }
    .totals {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: #E6E8F6;
      th {
        font-size: 0.9rem !important;
      }
    }
  }
}

.products-selected {
  position: relative;
  p {
    color: $success;
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    top: 50%;
  }
}

.channel {
  padding: 0 40px;
}

.saleCenter,
.channel {
  font-size: 0.95rem;
  margin-top: 20px;
}

.btn-conciliate {
  margin-left: 0.9rem;
}

.chart-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

.show-rows {
  font-size: .8rem !important;
  margin-top: .4rem;
  padding-bottom: 0;
  .md-checkbox {
    line-height: 1;
    font-size: .8rem;
  }
  .md-checkbox--fake {
    margin: 2px;
    width: 15px;
    height: 15px;
  }
  .md-checkbox--fake::after {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #ccc;
  }
  .md-checkbox--fake::before {
    border-radius: 2px;
    border: 0px solid transparent;
  }
  .md-checkbox input:checked+.md-checkbox--fake::after {
    border: 2px solid #ccc;
  }
  .md-checkbox input:checked+.md-checkbox--fake::before {
    height: 5px;
    border-radius: 2px;
    border-color: $success;
    border-width: 2px;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg) translate(0px, 4px);
  }
  .md-checkbox>div {
    line-height: 20px;
  }
}