.week1 {
    color: white !important;
    border-radius: 0.3rem;
    background-color: rgba(33, 150, 243, 1) !important;
}

.monthWeek1 {
    color: rgba(33, 150, 243, 1) !important;
    font-weight: 700;
}

.monthWeek1:hover {
    color: white !important;
    background-color: rgba(33, 150, 243, 1);
}

.week2 {
    color: white !important;
    border-radius: 0.3rem;
    background-color: #4CAF50 !important;
}

.monthWeek2 {
    color: #4CAF50 !important;
    font-weight: 700;
}

.monthWeek2:hover {
    color: white !important;
    background-color: #4CAF50;
}

.week3 {
    color: white !important;
    border-radius: 0.3rem;
    background-color: #673AB7 !important;
}

.monthWeek3 {
    color: #673AB7 !important;
    font-weight: 700;
}

.monthWeek3:hover {
    color: white !important;
    background-color: #673AB7;
}

.week4 {
    color: white !important;
    border-radius: 0.3rem;
    background-color: #FFC107 !important;
}

.monthWeek4 {
    color: #FFC107 !important;
    font-weight: 700;
}

.monthWeek4:hover {
    color: white !important;
    background-color: #FFC107;
}

.week5 {
    color: white !important;
    border-radius: 0.3rem;
    background-color: #F44336 !important;
}

.monthWeek5 {
    color: #F44336 !important;
    font-weight: 700;
}

.monthWeek5:hover {
    color: white !important;
    background-color: #F44336;
}

.react-datepicker__day--outside-month {
    color: #ccc;
    /* pointer-events: none; */
}

.react-datepicker__day--disabled {
    color: #ccc;
    background-color: transparent;
}

.calendar {
    box-shadow: 0 0 15px 0 #ccc;
}

.calendar .calendar-nav .calendar-month {
    font-size: .9rem !important;
}

.calendar .calendar-date .date-item {
    &:focus,
    .is-today {
        background: transparent !important;
        border-color: #187FE6 !important;
        color: #187FE6 !important;
    }
}

.calendar-not {
    pointer-events: none;
}

.radio {
    margin-left: 10px;
    span {
        padding-left: 10px;
    }
}

$range-alpha: .2;
.deadline {
    &-sales {
        background: rgba(76, 175, 80, $range-alpha) !important;
    }
    &-forecast {
        background: rgba(33, 150, 243, $range-alpha) !important;
    }
    &-adjustments {
        background: rgba(103, 58, 183, $range-alpha) !important;
    }
    &-approve {
        background: rgba(255, 193, 7, $range-alpha) !important;
    }
    &-consolidate {
        background: rgba(244, 67, 54, $range-alpha) !important;
    }
}

.calendar-range {
    &-sales::before {
        background: rgba(76, 175, 80, $range-alpha) !important;
        content: "";
        height: 2.2rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-forecast::before {
        background: rgba(33, 150, 243, $range-alpha) !important;
        content: "";
        height: 2.2rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-adjustments::before {
        background: rgba(103, 58, 183, $range-alpha) !important;
        content: "";
        height: 2.2rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-approve::before {
        background: rgba(255, 193, 7, $range-alpha) !important;
        content: "";
        height: 2.2rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-consolidate::before {
        background: rgba(244, 67, 54, $range-alpha) !important;
        content: "";
        height: 2.2rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.limit {
    &-sales {
        background: rgba(76, 175, 80, 1) !important;
        border-color: rgba(76, 175, 80, 1) !important;
    }
    &-forecast {
        background: rgba(33, 150, 243, 1) !important;
        border-color: rgba(33, 150, 243, 1) !important;
    }
    &-adjustments {
        background: #673AB7 !important;
        border-color: #673AB7 !important;
    }
    &-approve {
        background: #FFC107 !important;
        border-color: #FFC107 !important;
    }
    &-consolidate {
        background: #F44336 !important;
        border-color: #F44336 !important;
    }
}

.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}

.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    opacity: 0;
    content: attr(data-tooltip);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .75rem;
    padding: .4rem .8rem;
    transform: translate(-50%, 1rem);
    background: rgba(74, 74, 74, 0.9);
    border-radius: 4px;
    color: #fff;
    max-width: 24rem;
}

.tooltip:focus::before,
.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    top: auto;
    bottom: 100%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -.5rem);
}

.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}

.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    content: "";
    border-style: solid;
    border-width: .5rem;
}

.tooltip:focus:not(.is-loading)::after,
.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    top: 0;
    bottom: auto;
    left: 50%;
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    border-color: rgba(74, 74, 74, 0.9) transparent transparent transparent;
}

.calendar .calendar-range .date-item {
    color: $general_text;
}

.calendar .calendar-header {
    padding: .5rem .5rem 0 .5rem;
}

.calendar .calendar-date {
    padding: .3rem 0;
}

.calendar .calendar-body {
    padding: 0 .5rem .3rem;
}

.calendar .calendar-date .date-item {
    height: 2rem;
    line-height: 1.2rem;
    padding: .2rem;
    width: 2rem;
    &.week-number {
        background: #eff1f9 !important;
        border-radius: 0;
    }
}

.week-column {
    background: #eff1f9 !important;
    
    .calendar-date .date-item:focus {
        border: none;
        color: $general_text !important;
        user-select: none;
    }
}