$gray-blue-900: #2d3541;
$gray-blue-700: #363e49;
$gray-blue-500: #3d495a;
$gray-blue-300: #435265;

$abraxas-color: #3b80af; // rgba(92,138,169,1) !default;
$primary: $abraxas-color !default;
$info: #187FE6;
$link: #0665C5;
$success: #0CB900;
$warning: #DA7C30;
$danger: #EF6950;
$teal: #30C6CC;
$general_text: #424A55;