.dash-card {
    cursor: pointer;
    background-color: #fff !important;
    color: $general_text !important;
    border-radius: 5px !important;
    .card-header {
        &-title {
            color: $general_text !important;
            justify-content: center;
        }
    }
    i {
        padding: 5px 5px 5px 10px !important;
        box-sizing: border-box !important;
        font-size: 1.8rem;
    }
    .card-content {
        padding: .5rem 1.5rem;
    }
    .content p:not(:last-child) {
        margin-bottom: 0em !important;
    }
}

.h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.filters-project {
    font-size: .8rem !important;
    .md-checkbox {
        line-height: 1;
        font-size: .8rem;
    }
    .md-checkbox--fake {
        margin: 2px;
        width: 15px;
        height: 15px;
    }
    .md-checkbox--fake::after {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid #ccc;
    }
    .md-checkbox--fake::before {
        border-radius: 2px;
        border: 0px solid transparent;
    }
    .md-checkbox input:checked+.md-checkbox--fake::after {
        border: 2px solid #ccc;
    }
    .md-checkbox input:checked+.md-checkbox--fake::before {
        height: 5px;
        border-radius: 2px;
        border-color: $success;
        border-width: 2px;
        border-top-style: none;
        border-right-style: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg) translate(0px, 4px);
    }
    .md-checkbox>div {
        line-height: 20px;
    }
    .card-header {
        h1 {
            font-size: 1rem;
            padding: .5rem;
        }
    }
    .projects {
        .card-content {
            padding: 0;
        }
        .menu-list {
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            li {
                border-bottom: 1px solid rgba(230, 232, 246, 0.5);
                max-height: 34px;
                a {
                    div {
                        display: inline;
                        label {
                            width: calc(100% - 30px);
                            max-width: calc(100% - 30px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-touch-callout: none !important;
                            -webkit-user-select: none !important;
                            -khtml-user-select: none !important;
                            -moz-user-select: none !important;
                            -ms-user-select: none !important;
                            user-select: none !important;
                        }
                    }
                }
            }
        }
        .menu {
            margin: .5rem;
            background: white;
            &>div {
                padding-bottom: .3rem;
                border-bottom: 1px solid rgba(230, 232, 246, 0.5);
            }
        }
    }
    .filters {
        .card-content {
            padding: 0;
        }
        .card-header {
            background-color: #fff !important;
        }
        .menu-list {
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            li {
                max-height: 34px;
                a {
                    div {
                        display: inline;
                        label {
                            width: calc(100% - 30px);
                            max-width: calc(100% - 30px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-touch-callout: none !important;
                            -webkit-user-select: none !important;
                            -khtml-user-select: none !important;
                            -moz-user-select: none !important;
                            -ms-user-select: none !important;
                            user-select: none !important;
                        }
                    }
                }
            }
        }
        .menu {
            &>div {
                padding-bottom: .3rem;
                border-bottom: 1px solid rgba(230, 232, 246, 0.5);
            }
        }
        &-item {
            border-bottom: 1px solid rgba(230, 232, 246, 0.5);
            a {
                margin-left: .5rem;
                font-size: .9rem;
                color: $general_text;
            }
            .menu {
                margin: .5rem;
                background: white;
            }
            .collapsable-title {
                width: 100%;
                height: 2.5rem;
                display: flex;
                align-items: center;
                border-color: #E6E8F6;
                cursor: pointer;
                &.active {
                    background-color: #EFF1F9;
                }
            }
        }
    }
    .dash-graph {
        .columns {
            margin: 0;
        }
        .box {
            background-color: #EFF1F9;
            border-color: #E6E8F6;
            border-radius: 0;
            padding: .5rem;
            min-height: 350px;
            .chart-container {
                position: relative;
                margin: auto;
                height: 80%;
                width: 100%;
            }
            .indicators {
                &-title{
                    font-size: .9rem;
                    margin-bottom: -.3rem;
                    font-weight: 700;
                }
                &-number{
                    font-size: 1.2rem;
                    margin-bottom: 1.1rem;
                    font-weight: 700;
                }
                
            }
        }
        .notification {
            padding: 1.5rem 0;
            margin: 0 .5rem .5rem 0;
        }
        .range-slider {
            width: 200px;
            margin: 15px 20px 0 20px;
            .input-range__label {
                display: none;
            }
            .input-range__track--active {
                background: $info;
            }
            .input-range__slider {
                background: $info;
                border-color: #fff;
                border-radius: 100px;
            }
        }
        .button.is-static {
            background-color: #fff;
            border-radius: 0;
            font-size: .9rem;
        }
        .level {
            margin: .7rem 0;
        }
    }
}

.dash-table {
    font-size: 0.8rem;
    
    td {
        padding: 0.2rem 0.4rem;
        vertical-align: middle;
    }
    td {
        height: 37px !important;
        background-color: #FBFBFB;
        border-bottom: 1px solid #E6E8F6;
        border-right: 1px solid #E6E8F6;
        text-align: center;
        &:nth-child(2) {
            text-align: left;
        }
    }
    th {
        background-color: rgba(233, 233, 233, 1);
        font-weight: 700;
        border-right: 1px solid #FBFBFB;
        border-left: 1px solid #FBFBFB;
        text-align: center;
        &:nth-child(2) {
            text-align: left;
        }
    }
}
.dropdown-menu{
    min-width: 10rem;
}
.date-drop{
    margin-top: 20px;
}