@import 'colors';
@import '~bulma';
@import '~font-awesome/css/font-awesome.css';
@import '~bulma-calendar';
@import '~bulma-checkradio';
@import '~bulma-badge/dist/css/bulma-badge';
@import '~bulma-switch';
@import 'navbar';
@import 'sidenav';
@import 'table';
@import 'tabs';
@import 'inputs';
@import 'landing';
@import 'adjustments';
@import 'sidepanel';
@import 'calendar';
@import 'datasets';
@import 'prices';
@import 'dashboards';
@import 'reports';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
  background-color: #FBFBFB;
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.87rem;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.75rem;
}

.DateInput_input {
  font-weight: 650;
  font-size: 0.80rem;
  line-height: 20px;
  padding: 4px 4px 4px 10px;
}

.DateInput_input__focused {
  border-bottom: 2px solid $info;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: $link;
  border: 1px double $link;
  color: #fff;
}

.CalendarDay__selected_span {
  background: $info;
  border: 1px double $info;
  color: #fff;
}

.CalendarDay__selected_span:hover {
  background: $link;
  border: 1px double $link;
  color: #fff;
}

.text {
  color: #424A55 !important;
}

.has-text-teal {
  color: $teal !important;
}

.button,
.control {
  font-size: 0.70rem;
  font-weight: 700;
}

.section {
  padding: 0.7rem 1rem;
}

.is-clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: initial;
}

.is-transparent-text {
  color: transparent !important;
}

.is-fullwidth {
  width: 100%;
}

.main-wrapper {
  margin-top: 0px;
  margin-left: 50px;
  transition: margin-left .5s;
  .main {
    border-radius: 5px;
    -webkit-box-shadow: -6px 3px 16px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -6px 3px 16px -8px rgba(0, 0, 0, 0.3);
    box-shadow: -6px 5px 16px -6px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    min-height: 90vh;
    position: inherit;
  }
}

.main-wrapper-lvl-1 {
  margin-left: 10px !important;
}

.sidenav-open {
  margin-left: 210px;
}

.is-hamburguer {
  position: fixed;
  top: 52px;
}

.deep-shadow {
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

.is-margin-top-20 {
  margin-top: 20px;
}

.badge {
  position: relative;
  span {
    position: absolute;
    top: 1px;
    right: -14px;
    transform: translate(0, -100%);
    padding: 1px;
    color: white;
    border-radius: 100px;
    background: $warning;
    font-size: .8rem;
    font-weight: bold;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
  }
}

.card-header-select {
  padding: .30em
}

.card {
  border-color: #E6E8F6;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
}

.card-header {
  &-title {
    font-size: 0.9rem;
    font-weight: 700;
  }
  background-color: #EFF1F9;
  border-color: #E6E8F6;
}

.download-card {
  display: grid;
  grid-template: 1fr / 15% 1fr 15%;
  grid-template-areas: "download-img download-text download-icon";
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  min-width: 333px;
  max-width: 333px;
}

.download-card:hover {
  border-color: $info;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.download-img {
  padding: 10px;
  grid-area: download-img;
}

.download-text {
  grid-area: download-text;
  justify-self: start;
  font-size: 15px;
}

.download-icon {
  padding: 10px;
  grid-area: download-icon;
  color: $info;
}

.is-size-3 {
  font-size: 1.3rem !important;
}

.is-padding-bottom-small {
  padding-bottom: 0.5em;
}

.clear-btn {
  margin-top: 20px;
  .button {
    height: 1.7rem;
  }
}

.breadcrumb {
  margin: 20px;
  font-size: 0.85rem;
  a {
    color: $general_text;
    padding: 0.5em;
  }
  &.has-succeeds-separator li+li::before {
    content: '/';
    font-weight: 300;
    font-size: 1rem;
    color: $info;
  }
}

.single-form {
  max-width: 400px;
  margin: 100px auto;
  .input {
    width: 100%;
  }
}

.multiselect {
  &-column {
    height: 15em;
    max-height: 70%;
    overflow-y: auto;
    border: 1px solid;
    border-color: #dbdbdb;
    border-radius: 3px;
  }
  &-icon {
    padding-top: 7.8em;
  }
}

.has-10-margin-top {
  margin: 10px 0;
}

.has-20-margin-top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.has-30-margin-top {
  margin: 30px 0;
}

.has-35-margin-top {
  margin: 30px 0;
}

.has-20-margin-sides {
  margin-left: 20px;
  margin-right: 20px;
}

.has-20-margin-right {
  margin-right: 20px;
}

.section-header {
  background-color: #EFF1F9;
  border-color: #E6E8F6;
  height: 50px;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    text-transform: capitalize;
  }
}

.progress.is-small {
  height: 0.5rem;
}

.modal {
  .modal-card {
    width: 540px;
    .modal-card-head {
      border-radius: 0;
      padding: 10px 15px;
      background-color: #EFF1F9;
      border-color: #E6E8F6;
      .modal-card-title {
        font-size: 1.2rem;
      }
      .delete {
        border-radius: 0;
        background-color: $info;
      }
    }
    .modal-card-body {
      font-size: .9rem;
      .field.is-grouped {
        justify-content: flex-end;
      }
      .button {
        width: 80px;
        height: 2rem;
      }
      .buttons {
        margin-top: 20px;
        margin-bottom: -10px;
      }
    }
    .modal-card-foot {
      .field.is-grouped {
        justify-content: flex-end;
      }
      background-color: #EFF1F9 !important;
      border-color: #E6E8F6 !important;
      padding: 10px 15px;
      border-radius: 0;
    }
    .modal-card-foot {
      .field.is-grouped {
        justify-content: flex-end;
      }
      background-color: #EFF1F9 !important;
      border-color: #E6E8F6 !important;
      padding: 10px 15px;
      border-radius: 0;
    }
  }
  &.import-modal {
    .modal-card {
      width: 750px;
    }
    .file-label {
      font-size: 1.2rem;
    }
  }
}

.disabled-btn {
  color: rgb(206, 206, 206) !important;
  border-color: rgb(206, 206, 206) !important;
  cursor: not-allowed;
  :hover {
    color: rgb(206, 206, 206) !important;
    border-color: rgb(206, 206, 206) !important;
  }
}

.has-bg-warning {
  background-color: $warning !important;
}

.importcsv {
  .column {
    max-width: 100%;
    overflow: hidden;
  }
  pre {
    font-size: inherit;
    width: 100%;
    overflow: auto;
  }
}

.file-cta {
  white-space: initial;
}

.file.is-info .file-cta {
  background-color: rgba($info, 0.05);
  border-color: $info;
  color: $general_text;
  i {
    color: $info;
  }
}

.file.is-info:hover .file-cta {
  background-color: rgba($info, 0.05);
  border-color: $info;
  color: $general_text;
}

.file.is-info.is-hovered .file-cta .file-label {
  margin: .5rem;
  font-size: 1rem;
}

.file.is-boxed .file-cta {
  flex-direction: initial;
}

.file-name {
  max-width: 17em;
}

.calendar-view {
  .md-checkbox {
    padding-top: 20px;
    line-height: 1;
    font-size: inherit;
  }
  .md-checkbox--fake {
    margin: 5px;
    width: 20px;
    height: 20px;
  }
  .md-checkbox--fake::after {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  .md-checkbox--fake::before {
    border-radius: 5px;
    border: 0px solid transparent;
  }
  .md-checkbox input:checked+.md-checkbox--fake::after {
    border: 2px solid #ccc;
  }
  .md-checkbox input:checked+.md-checkbox--fake::before {
    height: 8px;
    border-radius: 2px;
    border-color: $success;
    border-width: 2px;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg) translate(0px, 4px);
  }
  .md-checkbox>div {
    line-height: 30px;
  }
  .level {
    margin-top: -20px;
    margin-left: 10px;
  }
}

.detail-page {
  .level {
    margin-bottom: 0;
  }
  .level-right {
    margin-right: 20px;
  }
  .card-header-select {
    padding: 0.65em;
  }
}

.is-checkradio[type=radio].is-small+label {
  font-size: .8rem;
}

.zopim {
  left: 8px !important;
  right: inherit !important;
}

.zEWidget-launcher {
  left: 0 !important;
  right: inherit !important;
  &--active {
    left: 0 !important;
    right: inherit !important;
  }
}

.info-message {
  border: 1px solid $primary;
  padding: 5px;
  background: rgba($primary, .05);
  color: $primary;
  font-weight: 700;
  text-align: center;
}

.has-background-light {
  background-color: hsl(0, 0%, 96%);
}

.has-pad-sides-5 {
  padding: 0 5px;
}

.is-checkradio[type=checkbox]:focus+label::before,
.is-checkradio[type=checkbox]:focus+label:before,
.is-checkradio[type=radio]:focus+label::before,
.is-checkradio[type=radio]:focus+label:before {
  outline: none;
}

.org-img {
  border-radius: 100%;
  padding: 3rem;
}

.org-card {
  max-width: 400px;
}

.has-margin-big {
  margin-top: 5rem;
}

.privacy {
  ul {
    margin-left: 2rem;
    li {
      list-style: initial;
    }
  }
  ol {
    margin-left: 2rem;
  }
  p {
    margin: 1.5rem 0;
  }
}

.accountOwner {
  margin-bottom: 1rem;
}

.checkboxwidget {
    font-size: .8rem !important;
    .md-checkbox {
      line-height: 1;
      font-size: .8rem;
    }
    .md-checkbox--fake {
      margin: 2px;
      width: 15px;
      height: 15px;
    }
    .md-checkbox--fake::after {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      border: 2px solid #ccc;
    }
    .md-checkbox--fake::before {
      border-radius: 2px;
      border: 0px solid transparent;
    }
    .md-checkbox input:checked+.md-checkbox--fake::after {
      border: 2px solid #ccc;
    }
    .md-checkbox input:checked+.md-checkbox--fake::before {
      height: 5px;
      border-radius: 2px;
      border-color: $success;
      border-width: 2px;
      border-top-style: none;
      border-right-style: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg) translate(0px, 4px);
    }
    .md-checkbox>div {
      line-height: 20px;
    }
  }
  @import 'wizard';
  @import 'forecast';
  @import 'organization';
  /* @import 'base'; */
  @import '../../../lib/frontend/style.css';
  @import 'mq';