$abraxas-color: #3b80af; // rgba(92,138,169,1) !default;
$primary: $abraxas-color !default;

@import '~bulma';
@import '~font-awesome/css/font-awesome.css';
@import 'navbar';
@import 'sidenav';

html, body{
  background-color: #FBFBFB;
}
.is-clickable{
  cursor: pointer;
}

.main-wrapper{
  margin-left: 50px;
  transition: margin-left .5s;
}

.sidenav-open{
  margin-left: 250px;
}

.is-hamburguer{
  position: absolute;
  top: 52px;
}

/* @import 'base'; */
/* @import 'colors';
@import 'sidebar';
@import '../../../lib/frontend/style.css';
@import 'mq'; */
