$abraxas-color: #3b80af; // rgba(92,138,169,1) !default;
$primary: $abraxas-color !default;
$info: #187FE6;
$link: #0665C5;
$success: #0CB900;
$warning: #DBB700;
$danger : #EF6950;
$teal: #30C6CC;

@import '~bulma';
@import '~font-awesome/css/font-awesome.css';
@import 'navbar';
@import 'sidenav';
@import 'table';
@import 'tabs';
@import 'inputs';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
html,
body {
    background-color: #FBFBFB;
    font-family: 'Roboto', sans-serif;
    font-size: 0.87rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 0.75rem;
}

.text {
    color: #424A55;
}

.has-text-teal{
  color: $teal;
}

.button{
  font-size: 0.70rem;
  font-weight: 700;
}

.section{
  padding: 0.7rem 1rem;
}

.is-clickable {
    cursor: pointer;
}

.main-wrapper {
    margin-top: 0px;
    margin-left: 50px;
    transition: margin-left .5s;
    .card:first-of-type {
        border-radius: 5px;
        -webkit-box-shadow: -6px 3px 16px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -6px 3px 16px -8px rgba(0, 0, 0, 0.3);
        box-shadow: -6px 3px 16px -8px rgba(0, 0, 0, 0.3);
    }
}

.sidenav-open {
    margin-left: 250px;
}

.is-hamburguer {
    position: absolute;
    top: 52px;
}

.shadow{
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
}

.level:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indicators{
  background-color: #EFF1F9;
  padding: 0.3rem;
  box-sizing: border-box;
  img{
    height: 50px;
    width: auto;
    margin-right: 3rem;
  }
  .num{
    font-size: 1.37rem;
  }
  p{
    font-size: 0.70rem;
  }
  .level-item:not(:first-child){
    border-left-color: rgb(220, 225, 248);
    border-left-style: solid;
    height: 100%;
    border-left-width: 1px;
    position: relative;
  }
  .collapse-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 100%;
    background-color: $info;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.indicators-show{
  max-height: 400px;
}
.indicators-hide{
  max-height: 0;
}
.indicators-collapse{
  background-color: #F9FAFF;
  overflow: hidden;
  transition: max-height 1s ease;
  margin-top: 0;
}

/* @import 'base'; */

/* @import 'colors';
@import 'sidebar';
@import '../../../lib/frontend/style.css';
@import 'mq'; */