.label,
.input,
.textarea,
.select select,
option {
    font-size: 0.75rem;
}

.date-selector {
    font-size: 0.75rem !important;
    color: $general_text;
    font-weight: 500 !important;
}

.input-search {
    width: 150px;
}

.input-cant {
    width: 55px;
    height: 98%;
}

.select select,
.input,
.textarea {
    border-color: #E6E8F6;
    color: $general_text;
}

.select-is-danger {
    border-color: $danger !important;
    color: $general_text;
}

.selects {
    .select,
    select,
    .input {
        width: 150px;
    }
    select,
    .select,
    option {
        text-transform: capitalize;
    }
}

.inline-form {
    width: 100%;
    .select,
    select {
        display: block !important;
        width: 100%;
        max-width: 400px;
        text-transform: capitalize;
    }
    .field {
        padding: 0 10px 2px 0;
    }
    label {
        display: none !important;
    }
}

.form-group>fieldset {
    border: 0;
}

.rjsf {
    .input {
        width: 100%;
    }
}

.input-font{
    font-size: .85rem !important;
}

.Select-control {
  @extend .input
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 25px;
  padding-left: 15px;
}
