.is-bg-whitesmoke {
  background-color: whitesmoke !important;
}

.has-text-color {
  color: $abraxas-color !important;
}

.pad-bottom {
  padding-bottom: 20px !important;
}

.land-login {
  width: 350px !important;
  background-color: white;
  overflow: hidden !important;
  text-align: center !important;
  padding: 40px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .input {
    color: $general_text !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
    border-bottom: 2px solid $info !important;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .input:focus {
    border: 0px !important;
    border-bottom: 3px solid $info !important;
    box-shadow: none !important;
  }
  .label {
    text-align: left !important;
    color: $general_text !important;
  }
  .image {
    margin-bottom: 15px;
  }
}

.landing {
  .navbar.is-primary .navbar-brand>a.navbar-item:hover,
  .navbar.is-primary .navbar-brand>a.navbar-item.is-active,
  .navbar.is-primary .navbar-brand .navbar-link:hover,
  .navbar.is-primary .navbar-brand .navbar-link.is-active {
    background-color: rgba(0, 0, 0, .07);
    color: #fff;
  }
  .navbar.is-primary .navbar-start>a.navbar-item:hover,
  .navbar.is-primary .navbar-start>a.navbar-item.is-active,
  .navbar.is-primary .navbar-start .navbar-link:hover,
  .navbar.is-primary .navbar-start .navbar-link.is-active,
  .navbar.is-primary .navbar-end>a.navbar-item:hover,
  .navbar.is-primary .navbar-end>a.navbar-item.is-active,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: rgba(0, 0, 0, .07);
    color: #fff;
  }
  .navbar {
    min-height: 4.25rem;
    &.has-shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .modal-background {
    background-color: whitesmoke;
  }
  &-right-img {
    width: 50%;
    position: absolute;
    top: -2px;
    right: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    animation: .3s ease-in-out both fade-in;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .footer {
    background: #424A55;
    color: #FFF !important;
    font-size: .9rem;
    img {
      padding: 0 .3rem .8rem 0;
    }
    p {
      margin: .6rem 0;
      &.top-medium {
        margin-top: 1.85rem;
      }
      &.top-small {
        margin-top: 1.2rem;
      }
      span:not(:last-child) {
        margin-right: .5rem;
      }
    }
    a,
    a:visited,
    a:link {
      color: #FFF !important;
      font-size: .9rem;
    }
  }
  .comments {
    &__item {
      &.fadeIn {
        animation: .3s ease-in-out both fade-in;
      }
      &.fadeOut {
        animation: .3s ease-in-out both fade-out;
      }
    }
  }
}

.fadeIn {
  animation: .3s ease-in-out both fade-in;
}

.fadeOut {
  animation: .3s ease-in-out both fade-out;
}

.land-card {
  width: 400px;
  margin: 0 auto;
  .navbar-item {
    background-color: #EFF1F9;
    border-color: #E6E8F6;
    .column.is-one-third {
      text-align: center;
    }
  }
  .card-content {
    .content {
      max-height: 35vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.pos-rel {
  position: relative;
}

$backGradient: 25%;
@mixin backLinearGradient($color) {
  background-image: linear-gradient($color 0%, $color $backGradient, whitesmoke $backGradient);
}

.changeBack {
  -webkit-animation: backColor 30s infinite;
  &__gradient {
    /* @include backLinearGradient(#187FE6);
        -webkit-animation: backColorGradient 30s ease infinite; */
    &:before {
      height: 45vh;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-animation: backColor 30s infinite;
    }
  }
}

@-webkit-keyframes backColor {
  0% {
    background-color: #187FE6;
  }
  25% {
    background-color: #589ADC;
  }
  50% {
    background-color: #7982C5;
  }
  75% {
    background-color: #589ADC;
  }
  100% {
    background-color: #187FE6;
  }
}

@-webkit-keyframes backColorGradient {
  0% {
    @include backLinearGradient(#187FE6);
  }
  25% {
    @include backLinearGradient(#589ADC);
  }
  50% {
    @include backLinearGradient(#7982C5);
  }
  75% {
    @include backLinearGradient(#589ADC);
  }
  100% {
    @include backLinearGradient(#187FE6);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation: .3s ease-in-out both fadeInRight;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  animation: .3s ease-in-out both fadeOutLeft;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation: .3s ease-in-out both fadeInLeft;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  animation: .3s ease-in-out both fadeOutRight;
}

.how {
  &__img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    animation: .3s ease-in-out both fade-in;
    margin: 20px 20px 20px 0;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &__video {
    margin: 5rem 0;
    border: 1px solid $primary;
  }
}

.video {
  .modal-background {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.register {
  &__modal {
    .modal-close {
      background: rgba(0, 0, 0, 0.2);
    }
    color: $general_text;
    .modal-content {
      min-height: 550px;
      max-width: 600px;
      width: 100% !important; //background-color: white;
      overflow: hidden !important;
      text-align: center !important;
      padding: 40px !important; //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      .input {
        color: $general_text !important;
        background-color: #FFF !important;
        border: 1px solid #E6E8F6;
        height: 2.5rem; //border-bottom: 2px solid $info !important;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
      }
      .input:focus {
        border: 0px !important;
        border-bottom: 2px solid $info !important;
        box-shadow: none !important;
      }
      .has-addons {
        .control {
          .button.is-static {
            height: 2.5rem;
          }
        }
      }
      .label {
        text-align: left !important;
        color: $general_text !important;
        font-size: 1rem;
      }
      h1 {
        color: $primary;
        font-weight: 700;
      }
    }
    .md-checkbox {
      line-height: 1;
      font-size: 1rem;
    }
    .md-checkbox--fake {
      margin: 5px;
      width: 20px;
      height: 20px;
    }
    .md-checkbox--fake::after {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 2px solid #ccc;
    }
    .md-checkbox--fake::before {
      border-radius: 5px;
      border: 0px solid transparent;
    }
    .md-checkbox input:checked+.md-checkbox--fake::after {
      border: 2px solid #ccc;
    }
    .md-checkbox input:checked+.md-checkbox--fake::before {
      height: 8px;
      border-radius: 2px;
      border-color: $success;
      border-width: 2px;
      border-top-style: none;
      border-right-style: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg) translate(0px, 4px);
    }
    .md-checkbox>div {
      line-height: 30px;
    }
    .register_section {
      min-height: 500px;
    }
    .step-indicators {
      margin-top: 1rem;
      .indicator {
        border: 2px solid $primary;
        margin: 1rem;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        &__active {
          background: $info;
        }
      }
    }
  }
}

.accept__label {
  margin: 8px 0 0 -15px;
}

.modal-close.login {
  background: rgba(0, 0, 0, 0.2);
}

.contact-msg {
  margin-right: 1rem;
  .message-body {
    font-size: .8rem;
    padding: .2rem 1rem;
  }
}