.dash-card {
    cursor: pointer;
    background-color: $abraxas-color !important;
    color: white !important;
    border-radius: 5px !important;
    i {
        padding: 5px 10px 5px 0px !important;
        box-sizing: border-box !important;
    }
    .content p:not(:last-child) {
        margin-bottom: 0.3em !important;
    }
}

.land-side {
    position: relative !important;
    background-color: rgba(92, 138, 169, 1) !important;
    .down {
        position: absolute !important;
        bottom: 120px !important;
    }
    img {
        padding: 0px 40px !important;
        margin-bottom: -10px !important;
    }
}

.land-content {
    margin: auto !important;
    max-width: 800px !important;
}

.is-bg-whitesmoke {
    background-color: whitesmoke !important;
}

.has-text-color {
    color: $abraxas-color !important;
}

.icon-land {
    height: 7rem !important;
    width: 7rem !important;
    background: #28d2eb !important;
    border-radius: 100px !important;
    margin: 30px 20px 0px !important;
}

.card-land {
    height: 295px !important;
}

.pad-bottom {
    padding-bottom: 20px !important;
}

.land-login {
    width: 800px !important;
    background-color: rgba(48, 90, 122, 0.7);
    overflow: hidden !important;
    text-align: center !important;
    padding: 40px !important;
    .input {
        color: white !important;
        background-color: rgba(0, 0, 0, 0) !important;
        border: 0px !important;
        border-bottom: 1px solid whitesmoke !important;
    }
    .input:focus {
        border: 0px !important;
        border-bottom: 2px solid white !important;
        box-shadow: none !important;
    }
    .label {
        text-align: left !important;
        color: white !important;
    }
}

.land-card {
    background-color: rgba(48, 90, 122, 0.7) !important;
    .navbar-item {
        background-color: rgba(48, 90, 122, 0.3) !important;
    }
    .navbar-item:hover {
        background-color: rgba(48, 90, 122, 0.8) !important;
    }
    .navbar-divider {
        background: $abraxas-color !important;
    }
}