.navbar{
  background-color: transparent;
}
.avatar{
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 28px;
    max-height: 28px;
}

.logo{
  max-width: 28px;
  max-height: 28px;
  border-radius: 100px;
}

.navbar-item img{
  max-height: inherit;
}

.navbar-item, .navbar-link{
  padding: 0.3rem 0.75rem;
}

.show-orgs{
  max-height: 300px;
}

.hide-orgs{
  max-height: 0;
}

.orgs{
  overflow: hidden;
  transition: all 0.8s;
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 0 !important;
  .column{
    padding: 1.2rem;
  }
  .media-content{
    margin: auto;
  }
}