.organization {
    &-daysleft {
        h2 {
            font-size: 1.3rem;
        }
        h1 {
            font-size: 2rem;
            font-weight: 700;
        }
        p {
            font-size: 1rem;
        }
    }
    .tabs {
        &-title {
            display: none;
        }
    }
    .button-right {
        display: flex;
        justify-content: flex-end;
    }
    .divider {
        position: absolute;
        left: 50%;
        top: 10%;
        bottom: 10%;
        border-left: 1px solid #E6E8F6;
    }
    &-modal{
      .button{
        width: inherit !important;
        height: inherit !important;
      }
    }
}