.editable {
    .control {
        font-size: inherit;
        font-weight: inherit;
    }
    .input {
        width: 80px;
        height: 1.2rem;
        padding-top: 0;
        padding-bottom: 0;
        font-size: inherit;
    }
    &-show {
        width: 120px;
    }
    &-cell {
        width: 120px;
    }
    &-prepend{
      padding: 0 10px 0 0;
    }

}