.searchbox {
    position: absolute;
    top: 12px;
    right: 15px;
    padding: 0px;
    color: $general_text !important;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    text-align: center;
    z-index: 11;
    width: 2.5rem;
}

.side-filters {
    margin-top: .5rem;
    width: 250px;
    background-color: #FBFBFB;
    height: 100vh;
    -webkit-box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 0px 16px -6px rgba(0, 0, 0, 0.3);
}

.sidepanel {
    position: absolute;
    top: 65px;
    right: 0px;
    padding: 0px;
    background-color: #5d5d5d;
    color: white;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    text-align: center;
    z-index: 11;
    width: 2.5rem;
    &-content {
        width: 250px;
        height: 100vh;
        background: #FBFBFB;
        .panel-block {
            .control {
                .input {
                    width: 225px !important;
                }
            }
        }
    }
}

.z100 {
    z-index: 100 !important;
}

.pad-sides {
    padding: 0 3em !important;
}