.wizard {
    .modal {
        &-background {
            background-color: #FBFBFB;
        }
        &-card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 90%;
            max-height: 80vh;
            height: 80vh;
            &-head {
                display: none;
            }
            &-body {
                padding: 0;
                .container{
                  margin-top: 1rem;
                }
                 
                .tabs {
                    &-title {
                        display: none;
                    }
                }
            }
        }
    }
}