<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Orax</title>
  {% if env == 'production' %}
  <link rel="stylesheet" type="text/css" href="/assets/bundle.css">
  {% endif %}
  <script type="text/javascript">
    window.zESettings = {
      webWidget: {
        color: { theme: '#187FE6' },
        launcher: {
          chatLabel: {
            '*': 'Soporte'
          }
        }
      }
    };
  </script>
  <script>
  	/*<![CDATA[*/window.zEmbed || function (e, t) { var n, o, d, i, s, a = [], r = document.createElement("iframe"); window.zEmbed = function () { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document; try { o = s } catch (e) { n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s } o.open()._l = function () { var e = this.createElement("script"); n && (this.domain = n), e.id = "js-iframe-async", e.src = "https://assets.zendesk.com/embeddable_framework/main.js", this.t = +new Date, this.zendeskHost = "kaminous.zendesk.com", this.zEQueue = a, this.body.appendChild(e) }, o.write('<body onload="document._l();">'), o.close() }();
  /*]]>*/
  </script>
</head>
<body>
<div id="app">
  <div id="root"></div>
</div>
  <script src="/assets/bundle.js"></script>
  <script type="text/javascript">
    
    zEmbed(function () {
      $zopim(function () {
        $zopim.livechat.window.setTitle('Orax')
        $zopim.livechat.concierge.setName('Bienvenido a Orax')
        $zopim.livechat.concierge.setTitle('Puedo ayudarte con cualquier duda.')
        $zopim.livechat.setLanguage('es')
        $zopim.livechat.departments.setVisitorDepartment('Orax')
        window.$zopim.livechat.removeTags('kamino.us')
        window.$zopim.livechat.addTags('orax')
        if (window.location.href) { window.$zopim.livechat.addTags('url:' + window.location.href) }
      })
    })
  </script>
</body>
</html>
